<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            
            <h1 class="fw-ligt">
                {{_VarTitle}}
            </h1>
            <p class="lead text-muted">Something tells me this one of those 'hello world' things again</p>
            <p class="lead text-muted">You guessed it! <b>It is</b>  one of those again but it has a <i>twist</i></p>
            <p class="lead-text-muted">Here you will be given a chance to search for a project by either clicking or guessing the project that has been completed</p>
            <input type='text' placeholder="search" class="text-center"/>
        </div>
    </div>
</section>


<!-- Carousal -->
<app-carousal></app-carousal>

<hr class="my-5 invisible" />

<!-- Register details -->
<app-profile-editor></app-profile-editor>